body {
  background-color: #e0e0e0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s ease-in-out;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photoName{
  /*
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

   */
  user-select: none;
  color: white;
  text-align: center;
  background: repeating-linear-gradient(45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
  rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  animation: slide 10s linear infinite forwards;
}

@keyframes slide {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 600vw;
  }
}

.explanationText {
  text-align: center;
}

.timeFormat {
  text-align: center;
}

.apodImg {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.loadingImg {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10vh 10vw;
}

.infoCard {
  background-color: #cecece;
  border-radius: 15px;
  max-width: 75%;
  padding: 15px 40px;
  margin-bottom: 15px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h2 {
  text-align: center;
}

.rover {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.mainContainer p {
  text-align: center;
}